.App{
    width: 98vw;
}

h1{
    width: 100px;
    height: 100px;
    background-color: black;
    margin-left: 1rem;;
    color: red;
}

.movieContainer{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    min-width: max-content;
    width: 100vw;
}

.movie{
    width: 100px;
    height: 100px;
    background-color: black;
    margin-left: 1rem;
}